<style > 

input {
    line-height: 20px;
}

textarea {
  resize: none;
}

div {}

.borderexample {
    margin: 0 auto;
    border: solid 2px;
    border-radius: 10px;
    width: 400px;
    background: beige;
    padding: 10px;
}



</style >
